/*Form-Registrasi*/
body {
    background-color: #16A086;
    margin: 0;
    font-family: Helvetica;
    color: white;
    scroll-behavior: smooth;
    padding-bottom: 50px;
}

.container {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-shadow: 10px black;
}


.container h1 {
    text-shadow: 4px 2px 15px black;
	text-align: center;
}

.title {
    background-color: #0F6177;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    min-width: 300px;
    text-align: center;
}

.table-profile {
    width: 100%;
}

.profile {
    width: 50%;
}

.table-profile td {
    vertical-align: top;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}


.form-regis {
    background-color: white;
    color: #333333;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.form-list {
    background-color: white;
    color: #333333;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}


.form-regis input {
    width: 300px;
}


.isi-data button {
    font-size: 20px;
}


table.data td,
table.data th {
    font-size: 17px;
    width: 190px;
    border: 1px solid black;
    text-align: center;
}

table.data td:last-child {
    text-align: left;
    border: none;
}

table.data td {
    border: 1px solid black;
}

tbody {
    color: black;
}

